/* footer */
footer {
    width: 100%;
}

.footer {
    padding: 40px 50px 30px;
    background: #1b1b1b;  
}
.footer>div {
    max-width: 1920px;
    margin: 0 auto;
}
.footer .footer01 {  
    /* background: tomato; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: rgba(255, 255, 255, 0.2); */
}
.footer .footer01 .footer-logo img {
    display: block;   
}
.footer .footer01 .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer01 .footer-right li {
    color: gray;    
    /* text-decoration: none; */
    /* transition: all 0.5s */
}
.footer .footer01 .footer-right a {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    padding: 0 17px 0;    
}
.footer .footer02 {
    display: flex;
    align-items: flex-start;
    padding: 30px 0 115px;
}
.footer .footer02 .footer02-box {}

.footer .footer02 ul li {
    font-size: 19px;
    font-weight: 600;
    box-sizing: border-box;
    padding: 9px 0;
}
.footer .footer02 ul li span {
    color: gray;
}
.footer .footer03 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer03 .copy {
    font-size: 14px;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 0.2);
}
.footer .footer03 .logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer03 .logo-box .out-logo {
    padding: 0 0 0 381px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer03 .logo-box .out-logo .snsbox {}

.footer .footer03 .logo-box .out-logo .snsbox ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .footer03 .logo-box .out-logo .snsbox ul li+li {
    margin-left: 15px;
}
.footer .footer03 .logo-box .out-logo .snsbox ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36);
    background-color: #1b1b1b;
    border-radius: 50%;
}
.footer .footer03 .logo-box .out-logo .snsbox ul li a img {
    display: block;
}
.footer .footer03 .logo-box .store-logo {
    width: 355px;
    height: 70px;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 35px;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.36);    background-color: #1b1b1b;
    margin-left: 60px;
    position: relative;
    cursor: pointer;
}

.footer .footer03 .logo-box .store-logo a {
    display: flex;
    align-items: center;
    position: relative;
}
.footer .footer03 .logo-box .store-logo a img {
    display: block;
    margin-right: 12px;
}
.footer .footer03 .logo-box .store-logo a span {
    vertical-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: rgba(153, 153, 153, 0.67);   
}
.footer .footer03 .logo-box .store-logo a span strong {
    color: rgba(255, 255, 255, 0.67);
    font-size: 100%;
    line-height: inherit;   
}
.footer .footer03 .logo-box .store-logo>img {
    /* cursor: pointer; */
    position: absolute;
    top: 50%;
    right: 30px;
    transform: rotate(-90deg);  
}